body {
  font-family: 'Lato', Arial, sans-serif;
  margin-left: 3em;
}

#container {
 
}

p { 
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  margin: 0px;
}

p.new-speaker {
  font-weight: 600;
  font-style: italic;
}
